* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*<!--Start Upper Bar-->*/
.upper-bar {
    background-color: #08526d;
    color: white;
    padding: 10px;
}

.span-upper-bar {
    border: #ed1d24 1px solid;
    padding: 2px 10px;
    margin-left: 10px;
    background-color: transparent;
    color: white;

}

/*<!--End Upper Bar-->*/

/*<!--Start Nav Bar-->*/

.navbar-brand span {
    font-size: 2rem;
}

.navbar-brand span:first-child {
    color: #08526d;
    font-weight: bold;
}

.navbar-brand span:last-child {

    color: #ed242b;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 20px;
    color: #08526d;
    font-weight: bold;

}

.navbar-nav .nav-link:hover {
    color: #ed242b;


}




/*<!--End Nav Bar-->*/


/*<!--Start Carousal -->*/

.carousel-item {
    background-size: cover;
    background-position: center;
}

.carousel-item p {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translate(-00%, -40%);
    color: #08526d;
    font-size: 1.5rem;
    font-weight: bolder;
    -webkit-transform: translate(-00%, -40%);
    -moz-transform: translate(-00%, -40%);
    -ms-transform: translate(-00%, -40%);
    -o-transform: translate(-00%, -40%);
}

.carousel-item p span {
    background-color: #ed242b;
}

/*<!--End Carousal -->*/

/*<!--Start Feature Section -->*/
.features {
    margin-top: 25px;
    text-align: center;
}

.features-box-shadow:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.features i {
    margin: 5px;
    font-size: 2rem;
}



.features-icon {
    border: 20px solid #ed242b;
    -webkit-border-radius: 50%;
    color: white;
    background-color: #ed1d24;

}



.features h6 {
    color: #08526d;
    font-weight: bold;
    font-size: 1.5rem;

}

.features p {
    color: #8b999f;
}

/*<!--End Feature Section -->*/




/*<!--Start Campany Section -->*/
.campany {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f0f5f7;
}

.campany h3 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin: 3rem;
}

.campany p {
    color: #685555;
    font-size: 1.1rem;
}

.campany button {
    background-color: #ed1d24;
    color: white;
    margin-bottom: 15px;
}

.campany button:hover {
    background-color: #08526d;

}

/*<!--End Campany Section -->*/

.featured-work {
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-work h3 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin: 3rem;
}

.featured-work p {
    color: #685555;
    font-size: 1.1rem;
}


.featured-work ul li {
    border: rgb(196, 195, 195) 3px solid;
    color: #08526d;
    margin: 3px;
    padding: 10px 10px;
    transition: all ease-in-out 1.5s;
    -webkit-transition: all ease-in-out 1.5s;
    -moz-transition: all ease-in-out 1.5s;
    -ms-transition: all ease-in-out 1.5s;
    -o-transition: all ease-in-out 1.5s;
}



.featured-work ul li.active {
    background-color: #ed1d24;
    color: white;
    border-color: #ed1d24;
}

.featured-work ul li:hover {
    border: #ed1d24 3px solid;
    color: #ed1d24;
    cursor: pointer;

}

.featured-work ul li.active:hover {
    background-color: #ed1d24;
    color: #08526d;
    border-color: #ed1d24;
}

.featured-work .shuffle-img .col-md {
    padding: 0;
    transition: all ease-in-out 2.5s;
    -webkit-transition: all ease-in-out 2.5s;
    -moz-transition: all ease-in-out 2.5s;
    -ms-transition: all ease-in-out 2.5s;
    -o-transition: all ease-in-out 2.5s;
}

.featured-work .shuffle-img .col-md img {
    width: 100%;
}

/*<!--End Featured Work Section -->*/


/*<!--Start Post Section -->*/



.last-post {
    margin-top: 20px;
    margin-bottom: 20px;
}

.last-post h3 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin: 3rem;
}

.last-post p {
    color: #72757d;
    font-size: 1.1rem;
}

.card:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: ease-in-out all 2s;
    -webkit-transition: ease-in-out all 2s;
    -moz-transition: ease-in-out all 2s;
    -ms-transition: ease-in-out all 2s;
    -o-transition: ease-in-out all 2s;
}

.card h5 {
    color: #08526d;

}

.card a {
    color: #ed1d24;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
    text-decoration-color: #ed1d24;
    -moz-text-decoration-color: #ed1d24;
    cursor: pointer;
}

/*<!--End Post Section -->*/
/*<!--Start Testimonials Section -->*/
.testimonials {

    background: url("https://cdn.pixabay.com/photo/2020/02/23/22/53/board-4874845_960_720.jpg") center center no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    height: 30vh;

}

.testimonials .carousel-item {
    margin-top: 5vh;

}



.testimonials .carousel-item h5 {
    color: white;

}


.testimonials .carousel-item p {
    color: #ed1d24;

}

/*<!--End Testimonials Section -->*/


/*<!--Start Prices Section -->*/
.pricing-table{
    font-size: 1.3rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pricing-table a{
    background-color: #ed1d24;
    color: white;
    font-size: 1.1rem;
    border: solid #ed1d24 3px;
    padding: 10px 15px;
}

.pricing-table .card:hover{ transform:scale(1.1); 
    -webkit-transition:; 
    -moz-transition:; 
    -ms-transition:;
     -o-transition:; 
     -webkit-transform:scale(1.1); 
     -moz-transform:scale(1.1);
      -ms-transform:scale(1.1); 
      -o-transform:scale(1.1);
}

.corporate{
    background-color: #ed1d24;
    color: white;
}

/*<!--End Prices Section -->*/


/*<!--Start Whyus Section -->*/
.why-us{
     
}

.why-us img{
    height: 100%;
}


.why-us-style{
background-color: #08526d;
padding: 25px;

}



.why-us-style h3{
    font-size: xx-large;
    color: white;
}

.why-us-style p{
    font-size: large;
    color: #88a5b1;
}
.why-us-style a{
   background-color:#ed1d24 ;
   border: #ed1d24 3px solid;
   color: white;
   font-weight: bolder;
   padding: 10px 10px;
   
}

.why-us-style a:hover{
    background-color:transparent ;
    color: white;
    border: none;
 
 }
/*<!--End Whyus Section -->*/

/*<!--Start Project Statistics  Section -->*/
.statistics{
 margin-top: 15px;
 margin-bottom: 15px;
}

.statistics i,h5{
    font-size: 2rem;
    color: #08526d;
}

.statistics span{
    color: #ed1d24;
    font-size: 1.5rem;
}

.statistics i,h5,span :hover{
 transition: all ease-in-out 3s;
 -webkit-transition:;
 -moz-transition:;
 -ms-transition:;
 -o-transition:;
}



/*<!--End Project Statistics  Section -->*/
/*<!--Start Contact US Section -->*/
.contact{
    background-color: #ed1d24;
    height: 100%;
    margin-bottom: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}
.contact h1{
    justify-self: center;
    color: white;
    font-size: 2rem;
 
  
}

.contact a{
    border:white 3px solid;
    color: white;
    padding: 10px 20px;
    margin-left: 15px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #08526d;
    font-size: 1.1rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.contact a:hover{
    background-color: #2696be;
    border:white 3px solid;
}



/*<!--End Contact us  Section -->*/

